{% extends "base.html" %}
{% block title %}Liste des tickets{% endblock %}
{% block content %}
<h1>Tickets</h1>
<a class="btn btn-primary" href="{% url 'tickets:ticket_create' %}">Nouveau ticket</a>
<table class="table mt-3">
  <thead>
    <tr>
      <th>ID</th><th>Titre</th><th>Statut</th><th>Niveau de priorité</th><th>Client</th><th>Reporter</th><th>Projet</th>
    </tr>
  </thead>
  <tbody>
  {% for t in object_list %}
    <tr
      {% if t.status != "CLO" or t.status != "RES" %}
        {% if t.priority == "URG" %}
          class="table-danger fw-bold"
        {% elif t.priority == "HIG" %}
          class="table-warning fw-bold"
        {% endif %}
      {% endif %}
    >
      <td>{{ t.id }}</td>
      <td><a href="{% url 'tickets:ticket_detail' t.id %}">{{ t.title }}</a></td>
      <td>{{ t.get_status_display }}</td>
      <td>
        {% if t.status != "CLO" or t.status != "RES" %}
          {% if t.priority == "URG" %}
            <span class="text-danger fw-bold">{{ t.get_priority_display }}</span>
          {% elif t.priority == "HIG" %}
            <span class="text-warning fw-bold">{{ t.get_priority_display }}</span>
          {% else %}
            {{ t.get_priority_display }}
          {% endif %}
        {% else %}
          {{ t.get_priority_display }}
        {% endif %}
      </td>
      <td>{{ t.client }}</td>
      <td>{{ t.reporter }}</td>
      <td>{{ t.project }}</td>
    </tr>
  {% empty %}
    <tr><td colspan="7">Aucun ticket</td></tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
